{% load static %}
        <div class="grid" style="position: relative; height: 1221.93px;">
            {% for post in posts %}
            <div class="portfolio-item recent">
                {% if post.photo %}
                    <img src="{{ post.photo.url }}" alt="">
                {% else %}
                    <img src="{% static 'img/640x360.png' %}" alt="" width="100" height="175">
                {% endif %}
                <div class="portfolio-text">
                    <h5><a href="#">{{ post.title|safe }}</a></h5>
                    {% if post.author %}
                        <p>{{ post.author }}<span>|</span>{{ post.created_at|date:"j E Y" }}</p>
                    {% else %}
                        <p>Anonyme author<span>|</span>{{ post.created_at|date:"j E Y" }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>